.box{
    width: 800px;
    height: 650px;
    background-color: #2A5D5A;
    margin: auto;
    padding: 1px;
}
h1{
    background-color: red;
    color: aliceblue;
    width: 400px;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 50px;
}
.body{
  height: 1024px;
  top: 1000px;
  border-top: 200px;
}
.box2 {
  background-color: black;
  padding: 10px; 
  width: 400px;
  height: 170px;
  margin-left: 180px;
  border: 5px solid red;
}
.content {
  background-color: aquamarine;
  padding: 20px;
  font-size: 14px;
  color: black;
}